<%content_for :css do%>
  <%= stylesheet_link_tag 'usershow' %>
<%end%>

<div class='userprofile'>


<div class='main'>
	<div class='sidebar round'>
		<strong>Name:</strong> <%= @user.name %>
			<br/>
		<strong>URL:</strong> <%= link_to user_path($user), user_path(@user) %>
			<br/>
		<strong>Posts:</strong> <%= @user.microposts.count %>
	</div>

	<h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
	</h1>
</div>

<% unless @user.microposts.empty? %>
	<div class='posts'>
		<%=render @microposts %>
	</div>
	<%= will_paginate @microposts %>
<% end %>

</div>
