<header>
	<nav>
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
		</ul>
		<ul>
			<li><%= link_to "User list", :users %></li>
			<li><%= link_to "Microposts", :microposts %></li>
		</ul>
	</nav>
</header>
