<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'mainpage', :media => 'screen' %>
	<%= javascript_include_tag :application %>

	<%= yield(:css) if content_for?(:css)%>
	<%= yield(:js) if content_for?(:js)%>
</head>
<body>


<div id='container'>

<%= render 'layouts/header' %>

<%= render 'layouts/navlinks' %>

<section id='content' class='round'>
	<%= content_for?(:content) ? yield(:content) : yield %>
</section>

<%= render 'layouts/footer' %>

</div>

</body>
</html>
